.add-entry-btn {
     background-color: #3f51b5;
     color: white;
     float: right;
     margin-top: 20px;
}

.meetups-wrapper {
     background-color: #f7f7f7;
     padding: 20px;
     margin-top: 20px;
     border-radius: 3px;
     width: 100%;
}

table tr:nth-child(2n) {
     background-color: #fefefe !important;
}

table tr:nth-child(2n-1) {
     background-color: #f5f5f5;
}

table tr {
     transition: 0.3s ease;
}

table tr:hover {
     /* background-color: #3f51b5; */
     /* color: white; */
}

.worker-single {
     font-size: 13px;
     display: flex;
     align-items: center;
     position: relative;
     height: 45px;
     padding: 0px 0px 0px 15px; 
}

.edit-color {
     background-color: #dcdcdc;
     font-size: 13px;
     display: flex;
     align-items: center;
     position: relative;
     height: 45px;
     padding: 0px 0px 0px 15px;
}

.scrum-btns {
     position: absolute;
     right: 12px;
}

.late-background .scrum-btns .w-btn {
     color: white;
     border-color: white;
}

.late-background {
     background-color: #fb4d4d;
     color: white;
}

.notlate-background {
     background-color: #fefefe;
     color: black;
}

.w-btn {
     line-height: 25px;
     font-size: 12px;
     margin: 3px;
}

.first-field {
     height: 40px;
     position: absolute;
     left: 10px;
     top: 0;
}

.second-field {
     height: 40px;
     position: absolute;
     left: 200px;
     top: 4px;
}