<div class="right" *ngIf="workers">

     <div>
          <mat-form-field class="example-full-width">
               <input matInput placeholder="Pretraga" value="" [(ngModel)]="searchText">
          </mat-form-field>
     </div>

     <button mat-button (click)="openAddEntryDialog()" class="add-entry-btn">Dodaj unos</button>
     
     <table class="meetups-wrapper">
          <tbody>
               <tr *ngFor="let entry of dailyscrum | async | search:['name', searchText]; let i = index;">
                    <div *ngIf="entry.editing == false" [className]="entry.late === true ? 'late-background worker-single' : 'notlate-background worker-single'">
                                                  
                         <div>
                              {{entry.name}}
                              {{entry.time}}
                              <!-- {{entry.late}} -->
                         </div>

                         <div class="scrum-btns">
                              <fa-icon [icon]="faEdit" (click)="editEntry(i);" class="edit-scrum-icon"></fa-icon>
                              <fa-icon [icon]="faUserSlash" (click)="delEntry(i);" style="margin-left: 2px;" class="delete-scrum-icon"></fa-icon>
                         </div>
                    </div>


                    <div *ngIf="entry.editing == true" [className]="entry.late === true ? 'late-background worker-single' : 'notlate-background worker-single'">
                                                  
                         <div>
                              <mat-form-field>
                                   <mat-select placeholder="Select" [(ngModel)]="selectedValueName" ngDefaultControl>
                                        <mat-option *ngFor="let worker of listOfWorkers" value="{{worker.name}}">{{worker.name}}</mat-option>
                                   </mat-select>
                              </mat-form-field>

                              <mat-form-field class="example-full-width" [(ngModel)]="selectedValueTime" ngDefaultControl>
                                   <input matInput placeholder='Prethodna vrijednost: {{entry.time}}'>
                              </mat-form-field>
                         </div>
                         

                         <div class="scrum-btns">
                              <fa-icon [icon]="faSave" (click)="saveEntry(i, selectedValueName, selectedValueTime);" class="edit-scrum-icon"></fa-icon>
                              <fa-icon [icon]="faUndo" (click)="cancelEntry(i);" style="margin-left: 2px;" class="edit-scrum-icon"></fa-icon>
                         </div>
                    </div>

               </tr>
          </tbody>
     </table>

</div>