<div class="right" *ngIf="workers">

     <div>
          <mat-form-field class="example-full-width">
               <input matInput placeholder="Pretraga" value="" [(ngModel)]="searchText">
          </mat-form-field>
     </div>

     <div class="meetups-wrapper error-msg mat-elevation-z2" *ngIf="errorMsgShow">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
          <span style="margin-left: 5px;">{{errorMsg}}</span>
     </div>

     <div class="meetups-wrapper meetups-msg mat-elevation-z2" *ngIf="meetingsRaw.length == 0">
          <fa-icon [icon]="faExclamationTriangle"></fa-icon>
          Trenutno nema unesenih sastanaka!
     </div>
     <table class="meetups-wrapper mat-elevation-z2" *ngIf="meetingsRaw.length > 0">
          <tbody>
               <tr *ngFor="let entry of meetings | async | search:['name', searchText]; let i = index;">
                    <div *ngIf="entry.editing == false" [className]="entry.late === true ? 'late-background worker-single' : 'notlate-background worker-single'">
                         <div style="display: flex; flex-direction: row;">
                              <span style="display: flex;">{{entry.name}}</span>
                              <span class="time">{{entry.time}}</span>
                              <span class="late" *ngIf="entry.late">Zakasnio</span>
                         </div>

                         <div class="scrum-btns">
                              <button mat-stroked-button color="primary" class="w-btn" (click)="editEntry(i);"><fa-icon [icon]="faEdit" class="edit-scrum-icon"></fa-icon> Izmijeni</button>
                              <button mat-stroked-button color="accent" class="ml-10 w-btn" (click)="delEntry(i);"><fa-icon [icon]="faUserSlash" style="margin-left: 2px;" class="delete-scrum-icon"></fa-icon> Obriši</button>
                         </div>
                    </div>
                    <div *ngIf="entry.editing == true" class="edit-color">
                         <div>
                              <mat-form-field class="first-field">
                                   <mat-select placeholder="Select" [(ngModel)]="selectedValueName" ngDefaultControl>
                                        <mat-option *ngFor="let worker of listOfWorkers" value="{{worker.name}}">{{worker.name}}</mat-option>
                                   </mat-select>
                              </mat-form-field>

                              <mat-form-field class="second-field" [(ngModel)]="selectedValueTime" ngDefaultControl>
                                   <input matInput placeholder='Prethodna vrijednost: {{entry.time}}'>
                              </mat-form-field>
                         </div>

                         <div class="scrum-btns">
                              <button mat-stroked-button color="primary" class="w-btn" (click)="saveEntry(i, selectedValueName, selectedValueTime);"><fa-icon [icon]="faSave" class="edit-scrum-icon"></fa-icon> Spremi</button>
                              <button mat-stroked-button color="accent" class="ml-10 w-btn" (click)="cancelEntry(i);"><fa-icon [icon]="faUndo" style="margin-left: 2px;" class="edit-scrum-icon"></fa-icon> Odustani</button>
                         </div>
                    </div>
               </tr>
          </tbody>
     </table>

     <button mat-button (click)="openAddEntryDialog()" class="add-entry-btn"><fa-icon [icon]="faPlusSquare" class="edit-scrum-icon"></fa-icon> Dodaj unos</button>
</div>
